/*--

*****************************************************************************

Title:  AboutStyle Css Page

Use:  Add a resume box to my code
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: June 28, 2025

Tested:  June 28, 2025; Passed on Firefox and Chrome browsers.

******************************************************************************

*/
.resume-container {
    background: #C0C0C0; 
    
    height: 200px;
    width: 200px;
    
    border: 5px solid red;
    padding: 10px;
    
    margin: 20px;
}
