/*--

*****************************************************************************

Title:  AboutStyle Css Page

Use:  Add a resume box to my code
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: July 2, 2025

Tested:  July 2, 2025; Passed on Firefox and Chrome browsers.

*****************************************************************************

*/
.resume-container {
    background: #C0C0C0; 
    height: 200px;
    width: 200px;
    border: 5px solid red;
    padding: 10px;
    margin: 20px;
}

.container {
  display: flex;
  gap: 10px;
}

.left-sidebar, .right-sidebar {
  width: 25%;
  border: 1px solid black;
  padding: 10px;
}

main {
  flex: 1; 
  padding: 5px;
  border: 1px solid black;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .left-sidebar {
    order: 1; 
    width: 100%;
    border: none;
  }
  main {
    order: 2;  
    width: 100%;
    border: none;
  }
  .right-sidebar {
    order: 3;  
    width: 100%;
    border: none;
  }
}

.left-sidebar img,
.right-sidebar img {
  width: 100%;       
  height: auto;      
  display: block;    
  margin-bottom: 5px; 
  border-radius: 2px; 
  object-fit: cover; 
}
