/*--

*****************************************************************************

Title:  Contact Page formatting

Use:  To create formatting for my contact form
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: July 14 2025

Tested:  July 14 2025; Passed on Firefox and Chrome browsers.

*****************************************************************************

*/

.formBox {
    padding: 20px;
    margin: 40px auto;
    background-color: silver;
    border: 2px solid blue;
    max-width: 600px;
    min-width: 200px;
    text-align:center;

    display: flex;
    justify-content: center;
}

.formBox form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

label{
    display: block;
    margin-top: 2em;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 1em;
}

@media (max-width: 640px) {
  .formBox {
    padding: 10px;
    margin: 20px auto;
    border-width: 1px;
  }

  input, textarea {
    width: 100%;
    font-size: 1em;
  }

  label {
    font-size: 1em;
    margin-top: 2em;
  }
}