/*--

*****************************************************************************

Title:  Contact Page formatting

Use:  To create formatting for my contact form
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: July 14 2025

Tested:  July 14 2025; Passed on Firefox and Chrome browsers.

*****************************************************************************

*/