/*--

*****************************************************************************

Title:  Nav Css Page

Use:  Add a General Nav CSS and Styling area to all of my pages. 
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: July 5th, 2025

Tested:  July 5th, 2025; Passed on Firefox and Chrome browsers.

******************************************************************************

*/

body {

    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;

}

.nav {

    background-color: silver;
    color: blue;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;

}

.nav > li {

    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: blue;
    border: 2px solid red;
    position: relative;

}

.nav > li > a {

    text-decoration: none;
    color: #ffffff;
    display: block;

}

.nav > li> a:hover {

    color: silver;
}

.nav > li:hover > ul.navDropDown {

    display: block;
}

.nav > li > ul.navDropDown {

  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: blue;
  border: 2px solid red;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
  box-sizing: border-box;

}

.nav > li > ul.navDropDown > li {

    padding: 10px;
    border-top: 2px solid red;
}

.nav > li > ul.navDropDown > li > a {

    text-decoration: none;
    color: white;
    display: block;

}

.nav > li > ul.navDropDown > li > a:hover {

    background-color: silver;

}

#hamburger {
    display: none;
}

#hamburger-icon {
    display: none;
    font-size: 2rem;
    
    cursor: pointer;
    padding: 10px 20px;
    user-select: none;
}

@media only screen and (max-width: 640px) {

    #hamburger-icon {
        display: inline-block;
        
        color: blue;
        background-color: silver;
        
        border: 2px solid red;
        border-radius: 4px;
        
    }

    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
        background-color: silver;
    }

    #hamburger:checked + #hamburger-icon + .nav {
        display: flex;
    }

    .nav > li {
      
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        border: none;
        background-color: blue;
        
        border-bottom: 2px solid red;
    }

    .nav > li > a {
      
        width: 100%;
        padding-left: 20px;
        box-sizing: border-box;
        
    }

    .navDropDown {
      
        display: none;
    }
}
