/*--

*****************************************************************************

Title:  GeneralStyle Css Page

Use:  Add a General Style to all of my Webpages. This is an on going development
Author:  Jack Burgess

School/Term:  University of Missouri, Summer 2025 term

Developed: June 28, 2025

Tested:  June 28, 2025; Passed on Firefox and Chrome browsers.

******************************************************************************

*/

h1 {
  color: #008000; /* This is a standard green */
}
